.container{
    background-color: #93C4C4;
    height: 400px;
    width: 600px;
    margin: 0px auto;
    border-radius: 20px;
}
.inputForm{
    text-align: center;
    width: 100%;
    height: 60%;   
}
#text1{
    font-size: 30px;
}
.container p{
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
}