.container{
    background-color: #93C4C4;
    height: 400px;
    width: 600px;
    margin: 0px auto;
    border-radius: 20px;
}
.inputForm{
    text-align: center;
    width: 100%;
    height: 60%;   
}